body{
    height: 100vh;
    background-image: linear-gradient(rgb(132, 175, 33),white);
}

.logo{
    display: block;
    margin: auto;
    height: 40px;
    width: 40px;
}

h1{
    margin: 5px 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-decoration-color: cornflowerblue;
}
.container{
    max-width: 950px;
    overflow-y: auto;
    margin: auto;
    height: 66vh;
    margin-top: 3px;
    margin-bottom: 20px ;
    border: 2px solid black;
    border-radius: 10px;
}

.message{
    padding: 4px 10px;
    border: 2px solid black;
    background-color: rgba(247, 242, 242, 0.938);
    margin: 6px 15px;
    border-radius: 9px;
    width: 30% 

}

.left{
    float: left;
    clear: both;
}

.right{
float: right;
clear: both;
}

#send-container{
    display: block;
    max-width: 985px;
    width: 100%;
    text-align: center;
    margin: auto;
}
#messageInp{
    width: 80%;
    height: 26px;
    border: 2px solid black;
    border-radius: 7px;
    font-size: 15px;
    background-color:white;
}
.btn{
    border-radius: 7px;
    background-color: yellowgreen;
    padding: 4px 9px;
    border-color: 2px solid black;
    border-color: black;
    cursor: pointer;
}
